body {
    padding-top: 70px;
    background-color: #103f4f !important;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 1em;
}
h1 {
    color: white;
}
.form-group {
    padding: 5px;
    margin: 0px;
    background-color: #3390af;
}
#result {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    border: none;
}